---
layout: default
---
<!-- page.html -->
        <div class="post">
        
          <div class="row justify-content-sm-center">

            <div class="col-sm">
                    {% include figure.html path="assets/img/network.png" title="example image" class="img-fluid rounded" %}
            </div>
          </div>

          <header class="post-header">
            <p1>{{ page.title }}</p1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>




<div class="row justify-content-sm-center">

    <div class="col-sm">
        {% include figure.html path="assets/img/network.png" title="example image" class="img-fluid rounded" %}
    </div>
</div>